body {
    display: flex;
    justify-content: center;
    background-color: #d1a7c9;
    background-image: url(./images/Flower.jpg);
    background-blend-mode: overlay;
    font-family: 'Times New Roman', Times, serif;
}

.outerBox {
    justify-content: center;
    background-color: azure;
    margin: 20px;
    padding: 20px;
    justify-content: center;
    border: 10px double #7d3c71;
    border-radius: 5px;
    min-width: 50%;
    max-width: 50%;
    box-sizing: border-box;
}

.listIndexIcon {
    width: 20px;
    height: 20px;
}

#indexBox {
    min-width: 30%;
    max-width: 40%;
}

h1,
h2 {
    text-align: center;
}

h2 {
    border-bottom: 2px solid #7d3c71;
}

h4 {
    text-align: center;
}

#indexList {
    text-align: center;
    justify-content: center;
}

#indexList ul {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
}

#indexList ul li {
    list-style-type: none;
}

a {
    text-decoration: none;
    position: relative;
    color: #7d3c71;
}

a:after {
    background-color: #7d3c71;
    content: '';
    display: block;
    position: absolute;
    height: 2px;
    width: 0;
    left: 0;
    bottom: -1px;
    transition: 0.3s ease-in-out;
}

a:hover:after {
    width: 100%;
}

ul,
ol {
    text-align: justify;
    display: inline-block;
    padding-right: 25px;
    padding-top: 0px;
    margin-top: 0px;
    padding-bottom: 20px;
    margin-bottom: 10px;
}

.details {
    padding: 0.75em 1em;
    width: 50%;
    height: 1em;
    margin: 1em auto 2em auto;
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    border: 0.25em solid #7d3c71;
    border-radius: 2em;
}

.details li {
    display: inline;
    align-items: center;
}

ul {
    list-style-type: square;
}

img {
    max-height: 60vh;
    max-width: 100%;
    width: auto;
    display: block;
    margin: 0 auto;
    mix-blend-mode: multiply;
    border-radius: 10px;
}

form {
    text-align: center;
}

button {
    background-color: #d1a7c9;
    font-size: 16px;
    border: 0.15em solid #7d3c71;
    border-radius: 1em;
    transition-duration: 0.4s;
    cursor: pointer;
    padding: 0.5em 1em;
}

button:hover {
    background-color: white;
}